<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Nouvelle demande de partenariat</h1>
<p>
  <strong>Company : </strong><br>
    <%= @from_company %>
  <hr>
  <strong>Email : </strong><br>
    <%= @from_email %>
  <hr>
  <strong>Content : </strong><br>
    <%= @content %>
</p>
</body>
</html>
